/** Font-Family: TT Norms */
@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
    url('../../fonts/TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Bold.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Thin.eot');
  src: local('TT Norms Thin'), local('TTNorms-Thin'),
    url('../../fonts/TTNorms/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Thin.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
    url('../../fonts/TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Regular.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Heavy.eot');
  src: local('TT Norms Heavy'), local('TTNorms-Heavy'),
    url('../../fonts/TTNorms/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Heavy.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Light.eot');
  src: local('TT Norms Light'), local('TTNorms-Light'),
    url('../../fonts/TTNorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Light.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
    url('../../fonts/TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Medium.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-Black.eot');
  src: local('TT Norms Black'), local('TTNorms-Black'),
    url('../../fonts/TTNorms/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-Black.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../../fonts/TTNorms/TTNorms-ExtraBold.eot');
  src: local('TT Norms ExtraBold'), local('TTNorms-ExtraBold'),
    url('../../fonts/TTNorms/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TTNorms/TTNorms-ExtraBold.woff') format('woff'),
    url('../../fonts/TTNorms/TTNorms-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('/fonts/IBMPlexSans/IBMPlexSans.eot');
  src: local('TT Norms Regular'), local('IBMPlexSans'),
    url('/fonts/IBMPlexSans/IBMPlexSans.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IBMPlexSans/IBMPlexSans.woff') format('woff'),
    url('/fonts/IBMPlexSans/IBMPlexSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}