/* Colors */
$black: #000;
$white: #fff;
$grey: #444657;

$red: #f6646f;
$dark: #1e2343;
$blue: #0e69b8;
$green: #34c07a;
$pink: #821d92;
$purple: #402d83;

$main: #102654;
$main-5: rgba(16, 38, 84, 0.5);

$font-family: 'TTNorms', sans-serif;
$font-family-ibm: 'IBMPlexSans', sans-serif;

/* input */
$input-fs: 14px;
$input-p: 10px 20px;
$input-c: #fff;
$input-bc: rgba(255, 255, 255, 0.1);
$input-bgc: #222;

$input-c-h: #3d3d3d;
$input-bgc-h: #3d3d3d;
/* ----------------------- */
