.pagehead {
	background: #222331;
	padding: 0;
	.container-inner {
		display: flex;
		align-items: flex-end;
		min-height: 380px;
	}

	.heading {
		padding: 180px 0 70px;
		text-align: center;
		margin: 0 auto;
		color: #fff;
		h1 {
			letter-spacing: 0.01rem;
			margin: 0 auto 20px;
			line-height: 1.2;
			font-weight: 500;
			font-size: 42px;
			color: #fff;
		}
		.desc {
			max-width: 580px;
			margin: 0 auto;
		}
	}
}
