@import './particles/index';

.main-layout {
	transition: all 0.25s ease;
	.layout-wrap {
		padding: 142px 0 0 0;
	}
	.main-content {
		min-height: calc(100vh - 182px);
		width: calc(100% - 300px);
		padding: 0;
	}
	.main-sidebar {
		background: #f6f6f8;
		position: relative;
		margin: -142px 0 0;
		z-index: 110;
		width: 300px;
		padding: 0;
		.sidebar-inner {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-between;
			padding: 100px 40px 40px;
			position: sticky;
			height: 100vh;
			min-height: calc(100vh - 142px);
			top: 0;
		}
	}

	.widget-tags {
		margin: 0 0 auto;
		h4 {
			padding-bottom: 30px;
			line-height: 24px;
			font-weight: 500;
			font-size: 20px;
			color: #000;
		}
		ul li {
			padding-bottom: 17px;
			a {
				display: flex;
				justify-content: space-between;				
				font-size: 14px;
				color: $main-5;
				b {
					font-weight: 700;
					font-size: 12px;
				}
				&:hover {
					font-weight: 500;
					color: $main;
				}
			}
		}
	}
	.widget-subsc {
		margin: auto 0 0;
		.desc {
			color: #102654;
			margin-bottom: 24px;
			line-height: 118.5%;
			font-weight: 400;
			font-size: 14px;
		}
		.form-subsc {
			display: flex;
			align-items: stretch;
			align-content: center;
			transition: background-color 0.3s ease 0s;
			background-color: rgba(246, 100, 111, 0.8);
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			position: relative;
			width: 100%;
			&:hover {
				background-color: rgb(246, 100, 111);
			}
		}
		input {
			flex: 1 1 0%;
			max-width: calc(100% - 70px);
			background-color: transparent;
			padding: 0px 26px;
			color: #fff;
			height: 67px;
		}
		.submit {
			display: flex;
			cursor: pointer;
			align-items: center;
			justify-content: center;
			color: rgb(255, 255, 255);
			height: auto;
			width: 70px;
			z-index: 1;
			padding:0;
		}
	}
}
